<div class="card">
  <div class="card_content">
    <div class="card_header">
      <img [src]="extension.logo" />
      <div class="card_text">
        <h2 class="card_title text-preset-2">{{ extension.name }}</h2>
        <p class="card_description text-preset-5">{{ extension.description }}</p>
      </div>
    </div>
    <div class="actions_bar">
      <button class="remove_button text-preset-6" (click)="onRemove()">Rimuovi</button>
      <input
        class="toggle"
        type="checkbox"
        [checked]="extension.isActive"
        (change)="onToggleActive()"
      />
    </div>
  </div>
</div>
