<div class="card">
  <div class="product_image" alt="Perfume image"></div>
  <div class="product_details">
    <p class="header text-preset-4">PERFUME</p>
    <p class="text-preset-1">Gabrielle Essence Eau De Parfum</p>
    <p class="description text-preset-3">
      A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for
      the House of CHANEL.
    </p>
    <div class="prices_row">
      <p class="main_price text-preset-1">$149,99</p>
      <p class="old_price text-preset-5">$169,99</p>
    </div>
    <button class="cart_btn">
      <img src="/assets/images/icon-cart.svg" alt="cart icon" />
      <div class="text-preset-2">Add to Cart</div>
    </button>
  </div>
</div>
